################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CAPDA.Teste.Automatizado/FileContentIndex
/.vs/CAPDA.Teste.Automatizado/v17/TestStore/0
/bin/Debug/Chrome
/bin/Debug/selenium-manager
/bin/Debug/AngleSharp.dll
/bin/Debug/AngleSharp.xml
/bin/Debug/geckodriver.exe
/bin/Debug/ICSharpCode.SharpZipLib.dll
/bin/Debug/ICSharpCode.SharpZipLib.pdb
/bin/Debug/ICSharpCode.SharpZipLib.xml
/bin/Debug/LAMPP.CAPDA.Teste.Automatizado.dll
/bin/Debug/LAMPP.CAPDA.Teste.Automatizado.dll.config
/bin/Debug/LAMPP.CAPDA.Teste.Automatizado.pdb
/bin/Debug/Microsoft.Win32.Registry.dll
/bin/Debug/Microsoft.Win32.Registry.xml
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/Newtonsoft.Json.xml
/bin/Debug/Protractor.dll
/bin/Debug/Protractor.xml
/bin/Debug/SeleniumExtras.PageObjects.dll
/bin/Debug/System.Buffers.dll
/bin/Debug/System.Buffers.xml
/bin/Debug/System.Memory.dll
/bin/Debug/System.Memory.xml
/bin/Debug/System.Numerics.Vectors.dll
/bin/Debug/System.Numerics.Vectors.xml
/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/bin/Debug/System.Security.AccessControl.dll
/bin/Debug/System.Security.AccessControl.xml
/bin/Debug/System.Security.Principal.Windows.dll
/bin/Debug/System.Security.Principal.Windows.xml
/bin/Debug/System.Text.Encoding.CodePages.dll
/bin/Debug/System.Text.Encoding.CodePages.xml
/bin/Debug/System.Threading.Tasks.Extensions.dll
/bin/Debug/System.Threading.Tasks.Extensions.xml
/bin/Debug/WebDriver.dll
/bin/Debug/WebDriver.Support.dll
/bin/Debug/WebDriver.Support.xml
/bin/Debug/WebDriver.xml
/bin/Debug/WebDriverManager.dll
/obj/Debug/CAPDA.Teste.Automatizado.csproj.AssemblyReference.cache
/obj/Debug/CAPDA.Teste.Automatizado.csproj.CoreCompileInputs.cache
/obj/Debug/CAPDA.Teste.Automatizado.csproj.FileListAbsolute.txt
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/LAMPP.CAPDA.Teste.Automatizado.dll
/obj/Debug/LAMPP.CAPDA.Teste.Automatizado.pdb
/packages/AngleSharp.1.0.3/lib/net461
/packages/AngleSharp.1.0.3
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/lib/net35/SeleniumExtras.PageObjects.dll
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/lib/net45/SeleniumExtras.PageObjects.dll
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/lib/netstandard2.0/SeleniumExtras.PageObjects.dll
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/.signature.p7s
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta.nupkg
/packages/DotNetSeleniumExtras.PageObjects.Core.4.3.0
/packages/DotNetSeleniumExtras.PageObjects.Core.3.12.1-beta/lib/net40/SeleniumExtras.PageObjects.dll
/packages/Microsoft.Win32.Registry.5.0.0
/packages/Newtonsoft.Json.13.0.3
/packages/Protractor.0.13.0/.signature.p7s
/packages/Protractor.0.13.0/lib/net35/Protractor.dll
/packages/Protractor.0.13.0/lib/net35/Protractor.xml
/packages/Protractor.0.13.0/lib/net40/Protractor.dll
/packages/Protractor.0.13.0/lib/net40/Protractor.xml
/packages/Protractor.0.13.0/lib/netstandard2.0/Protractor.dll
/packages/Protractor.0.13.0/lib/netstandard2.0/Protractor.xml
/packages/Protractor.0.13.0/LICENSE
/packages/Protractor.0.13.0/Protractor.0.13.0.nupkg
/packages/Protractor.1.0.0
/packages/Selenium.Firefox.WebDriver.0.27.0/.signature.p7s
/packages/Selenium.Firefox.WebDriver.0.27.0/build/Selenium.Firefox.WebDriver.targets
/packages/Selenium.Firefox.WebDriver.0.27.0/driver/geckodriver.exe
/packages/Selenium.Firefox.WebDriver.0.27.0/Selenium.Firefox.WebDriver.0.27.0.nupkg
/packages/Selenium.Support.3.141.0/.signature.p7s
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/.signature.p7s
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
/packages
/.vs/CAPDA.Teste.Automatizado/v17/.suo
